@import url(https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css);
        
body {
    background-color: #222;
    color: #ddd;
    width: 80%;
    margin: auto;
}
*{
    font-family: hack;
}
h1 {
   text-align: center; 
}
#divindice{
    padding: 20px;
    border: 1px #fff solid;
}
a {
    text-decoration: none;
    color: lightgreen;
}
a:hover {
    font-size: 18px;
    font-weight: bold;
    color: #00ff00
}

#gui{
    padding: 15px;
    border-radius: 150px;
    float: left;
    width: 250px;
}

#cabeca {
    display: contents;
    border: 1px solid #fff;
    text-align: center;
    float: right;
    width: 100%;
}

.habilidades {
    display: flex;
}

#hardskills{
    flex:1

}
#softskills{
    flex:2

}

#divcontato {
    padding: 20px;
    border: 1px #fff solid;
    padding: 10px;
}