@import url(https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css);
        
body {
    background-color: #222;
    color: #ddd;
    width: 80%;
    margin: auto;
}
*{
    font-family: hack;
}
h1 {
   text-align: center; 
}
#divindice{
    padding: 20px;
    border: 1px #fff solid;
}
a {
    text-decoration: none;
    color: lightgreen;
}
a:hover {
    font-size: 18px;
    font-weight: bold;
    color: #00ff00
}
#conDescricao{
    border: 1px #fff solid;
    position: relative;
}
#gui{
    padding: 15px;
    border-radius: 150px;
    float: left;
    width: 25%;
}

#cabeca {
    border: 1px solid #fff;
    text-align: center;
    float: right;
    width: 100%;
}
#hardskills{

    width: 50%;
    box-sizing: border-box;
    text-align: center;
    bottom: 0px;
    left: 0px;
    top: 220px;
    
}
#softskills{
 position: absolute;
 border: 1px #fff solid;
 width: 50%;   
 box-sizing: border-box;
 top:220px;
 right: 0px;
 padding-bottom: 60px;
 text-align: center;
 

}

#divcontato {
    padding: 20px;
    border: 1px #fff solid;
    padding: 10px;
}